@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Yanone+Kaffeesatz:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
width: 90vw;
background-color: rgb(104, 98, 98);
font-family: 'Roboto', sans-serif;
height: 110vh;
}

.sidebar nav{
    padding: 42px;
}

.sidebar nav li{
   list-style: none;
   font-size: 25px;
   padding: 33px 0;
}

.sidebar nav li a{
  text-decoration: none;
  color: white;
}
.main{
   /*background-color:rgba(173, 201, 91, 0.728);*/
    width: 200vw;
}
.container{
    display: flex;
}
.infocontainer{
   /* background-color:rgba(201, 91, 148, 0.373); */
    height: 58vh;
    width: 90vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devpic img{
    height: 58vh;
}
.devinfo{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.hello{
font-size: 65px;
font-family: 'Barlow', sans-serif;
}

.name{
    font-size: 67px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}
.about{
    font-size: 34px;
}
.moreaboutme{
    font-size: 29px;
    margin-top: 23px;
}
.btn{
     margin-top: 34px;
}
.btn button
{
    padding: 9px 14px;
    border-radius: 22px;
    color: beige;
    background-color:grey;
    font-size: 30px;
    margin: 0 3px;
    cursor: pointer;
    font-weight: bold;
}

.btn-sm{
    font-size: 17px;
    padding: 15px 14px;
    margin: 12px 0;
}
.btn button:hover{
    background-color: white;
    color:gray;
}
.contactme{
    font-family: 'Barlow', sans-serif;
    padding-top: 200px;
    padding: 0 24px;
    margin-left: 16px;
    
}

.contactform h2{
    font-family: 'Barlow', sans-serif;
  padding: 12px 0;

}
.contactform form div{
padding: 10px 0;
display: flex;
flex-direction: column;
margin-left: 16px;
}

.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0  0;
    padding: 3px;
    margin-left: 16px;
}

#emailHelp{
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}

#form-check{
flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}


h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
margin: 23px;
}


p{
    font-family: 'Barlow', sans-serif;   
}

.intro h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0 12px;
}

.intro p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0 12px;
}

.skillcontainer{
    padding: 12px;
}

.myinto{
    background-color: rgba(86, 112, 9, 0.679);
}

.skillitem{
    display: flex;
    align-items: center;
    color: rgb(255, 0, 0);
    font-weight: 900;
    font-size: larger;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid rgba(39, 126, 145, 0.337);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 900;
}
.hundered{
    width: 265px;
    background-color: orange;
}
.fifty{
    width: 125px;
    background-color: green;
}
.t5{
    width: 75px;
    background-color: chocolate;
}
.flex{
    display: flex;
}

.services{
    text-align: center;
    text-decoration: chartreuse;

}

.sidebar1 myintro{
    background-color: bisque;
}


.myservices{
    padding: 24px;
    image-resolution: calc();
}
